body{
    margin-left:400px;

}
form li{
    list-style: none;
    padding-bottom: 30px;
}

label{
    display: inline;
    float: left;
    clear: left;
    text-align: right;
    font-family: sans-serif;
    font-size: 15px;
    cursor:pointer;
    
}
input{
    margin-left:20px;
    float: left;
}
#Email {
    margin-block-start: 20px;
}


input:focus{
    background-color: antiquewhite;
    
}